<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h2><i><u>Log In</u></i></h2>

    <form action="" method="POST">
        {% csrf_token %}
        <label for="username"><i>User Name :</i></label>
        <input type="text" name="username"><br><br>
        <label for="password"><i>Password :</i></label>
        <input type="password" name="password"><br><br>
        <input style="border-style: none; padding: 0.5rem 3rem;" type="submit" value="Submit">
    </form><br>
    {% if error_message %}
        <i>{{ error_message }}</i>
        <br><br><a href="{% url 'sign_up' %}">Sign Up</a>
    {% endif %} 
    
</body>
</html>